{{> head}}

  <link rel="stylesheet" href="/css/appointment.datatable.css">
<body class="row">


  <!-- start of nav bar -->

  {{> navBar}}

  <!-- end of navbar -->


  <!-- start of side bar -->
  {{> sidebar}} 
  
  <!-- end of side bar -->
 
  <!-- start of page content -->
  <div class="col-sm-8 pt-2 mt-3  " style="">
    <nav class="navbar navbar-expand-sm bg-dark container-fluid">

   <p class="text-white p-1 fs-5">APPOINTMENTS </span>
  
 </nav>
   
                       {{> messages }}
   
   <div class="bg-white p-3  pt-4 ">
  <table id="doc-appointment-table" class="table  table-responsive   table-striped  table-bordered">
  <thead>
    <tr>
      <th class="fs-6">No</th>
      <th class="fs-6">Appointment Date</th>
      <th class="fs-6">Time</th>
      <th class="fs-6"> Name</th>
      <th class="fs-6"> Contact</th>
       <th>Start meeting</th>
    </tr>
  </thead>
  <tbody>
    
    {{#each appointments}}
    <tr  data-reg-number="{{this.patient.patientId}}">

      <td>{{this.appointmentNumber}}</td>
      <td class="fs-6 text-nowrap">{{this.appointmentDate}}</td>
      <td>{{this.appointmentTime}}</td>
      <td class="fs-6 text-nowrap" >{{this.patient.name}}</td>
      <td class="fs-6">{{this.patient.contact}}</td>
      
      <td class="fs-6">
      
         <button class="btn btn-link btn-sm" id="startMeeting"  data-bs-target="modal tooltip" data-bs-placement="top" title="Start Meeting" style="">
         <span style="font-size: 1.2em">
          <i class="fa-solid fa-video"></i>
         </span>
        </button>
        </td>
       
     
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
<!-- Modal -->
{{!-- {{>doc.appointment.modal}} --}}

{{>viewInDoc.modal}}
  </div>

 


  <!-- end of page  content -->





  <!-- start of events rightbar -->
  {{!-- {{> events.rightbar}} --}}

  <!-- end of events bar -->


  {{> footer}}


